{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier", "next"],
    "rules": {
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off",
        "prettier/prettier": "off",
        "new-cap": 0,
    },
    "root": true,
    "env": {
        "node": true,
        "jest": true,
    },
}
