@import "../../../styles/mixins";

.wrapper {
    &__container {
        margin: 0 auto;
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: 0 1rem;

        @include xsm {
            max-width: 500px;
            padding: 0 1.5rem;
        }
        @include sm {
            max-width: $sm;
        }
        @include md {
            max-width: $md;
        }
        @include lg {
            max-width: $lg;
            padding: 0 2.5rem;
        }
        @include xl {
            max-width: $xl;
            padding: 0 6rem;
        }
        @include xxl {
            max-width: $xxl;
        }
    }
}
