@import "normalize";

.g-popup {
    margin-top: 8px;
}

.g-link_view_normal:hover, .g-link_view_primary:hover, .g-link_view_secondary:hover {
    color: inherit !important;
}

.swiper-pagination-bullet-active {
    background: #FFBE5C !important;
}

.swiper-slide-active {
    transform: unset !important;
}