@import './../../styles/variables.scss';
$block: '.wrapper';

#{$block} {
    &__container {
        @include xsm {
            max-width: $xsm;
        }
        @include sm {
            max-width: $sm;
        }
        @include md {
            max-width: $md;
        }
        @include lg {
            max-width: $lg;
        }
        @include xl {
            max-width: $xl;
        }
        @include xxl {
            max-width: $xxl;
        }
        margin: 0 auto;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: 0 1rem;
        @include xsm {
            padding: 0 1.5rem;
        }
        @include lg {
            padding: 0 2.5rem;
        }
        @include xl {
            padding: 0 6rem;
        }
    }
}
