.homepage-content {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 10px;

    h3 {
        font-size: 20px;
    }
    &__user-image {
        border-radius: 50%;
    }
}
