@import './../../styles/mixins';
.top {
    margin-top: 15px;
}
.header {
    &__marking {
        display: grid;
        grid-auto-flow: column;
        place-content: space-between;
        padding: 1rem 0;
    }
    &__site_logo {
        font-size: 1.5rem;
        user-select: none;
        cursor: pointer;
    }
    &__marking-site-logo {
        display: grid;
        align-items: center;
    }
    &__account {
        display: grid;
        justify-content: end;
        align-items: center;
        grid-auto-flow: column;
        gap: 0.5rem;
        @include md {
            gap: 1rem;
        }
    }
    &__drawer {
        @include lg {
            display: none;
        }
    }
    &__skeleton-container {
        display: grid;
        align-items: center;
        width: 35px;
    }
    &__skeleton {
        height: 35px;
    }
    &__sign-in-mobile {
        display: none;
        @include lg {
            display: initial;
        }
    }
    &__drawer-main {
        display: grid;
        margin: 10px 30px;
        gap: 4px;
        grid-auto-flow: column;
    }
}
.user-avatar {
    border-radius: 50%;
}
